img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    cursor: pointer;
}

.card{
    max-width: 800px;
    margin-left: 20px;
    margin-top: 20px;
}

.add{
    margin-left: 20px
}